[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
uvicorn = {extras = ["standard"], version = "*"}
python-dotenv = "*"
pymysql = "*"
passlib = {extras = ["bcrypt"], version = "*"}
pyjwt = "*"
fastapi = {extras = ["all"], version = "*"}
pydantic-settings = "*"
httpx = "*"
pytest = "*"
alembic = "*"

[dev-packages]

[requires]
python_version = "3.8"
